/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

h2 {
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    max-width: 1440px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
}

/* logo et symboles & détails */

#logo {
    width: 61.09px;
    height: 19px;
    margin: 30px;
}

.fa-solid {
    color: var(--main-color);
    position: relative;
}

.fa-location-dot {
    color: black;
}

.fa-info {
    border: #D9D9D965 solid 2px;
    border-radius: 50%;
    padding: 7px 10px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

a {
    text-decoration: none;
    color:black;
}
/* nav */

nav {
    width: fit-content;
    padding: 0px 25px;
    display: flex;
    margin-top: 14px;
    gap: 68px;
}


.nav-hebergements {
    color: #0065FC;
    text-decoration: none;
    position: relative;
    /* probleme de taille : la texte dois faire 112px et le miens fait 103.71 */
}

.nav-hebergements:before {
    content: '';
    position: absolute;
    top: -14px;
    height: 2px;
    width: 113px;
    background: #0065FC;
}

.nav-hebergements:hover {
    text-decoration: underline;
}

.nav-activites {
    text-decoration: none;
    color: black;
    margin-right: 42.61px;
}

/* fin nav */

.search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding-left: 50px;
    margin-bottom: 37.5px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 377px;
    height: 49px;
}

.container-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    flex-grow: 1;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}

.search-input {
    text-align: center;
    color: black;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    height: 100%;
}


.search-button {
    height: 100%;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: #F2F2Ff;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 16px 15px 16px;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 15px
}

.filter-name {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.btn-filter {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 50px;
    Padding: 4px 19px 4px 19px;
    gap: 10px;
    font-weight: bold;
}

.btn-filter:focus {
    background-color: #DEEBFF;
}

.room-availaible {
    display: flex;
    gap: 8px;
}

.room-availaible p {
    display: flex;
    align-items: center;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/* CARDS SECTION */

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements-cards .card {
    width: 250.33px;
    height: 207.25px;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.hebergements img {
    object-fit: cover;
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin: 10px 15px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activites-cards {
    display: flex;
    gap: 30px;

}

.activites .card {
    display: flex;
    flex-direction: column;
    height: 439px;   
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    flex: 1;
}

.activites .card img {
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    min-height: 380px;
    width : 100%;
}

.activites .card-content {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}

b {
    font-size: 18px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* Section activites */

.activites {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    gap: 30px
}

/* footer */
footer {
    background-color: #F2F2F2;
    display: flex;
    padding: 20px;
    margin-top: 65px;
}

ul {
    list-style: none;
    flex-grow: 1;
}

li {
    margin: 15px 0px
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}